.bg4 {
  width: 100vw;
  height: auto;
  max-width: 1920px;
  max-height: 1200px;
  background-color: white;
  padding-top: 5%;
}
.bg4b {
  width: 100vw;
  height: auto;
  max-width: 1920px;
  max-height: 1200px;
  background-color: #EAF4F7;
  padding-top: 5%;
}

.instructors {
  width: 60%;
  margin: auto;
  margin-top: 3%;
  padding-bottom: 3%;
  display: flex;
  height: 30rem;
}

.instructor {
  width: 22%;
  height: 70%;
  margin: auto;
  background-color: white;
}

.instructorInfoBox {
  position: relative;
  margin: auto;
  height: 40%;
  margin-top: 5%;
  bottom: 7%;
  width: 80%;
}

.instructorInfoBox hr {
  background: #e2e2e2;
  border: none;
  height: 1%;
  margin-top: 5%;
  margin-bottom: 4%;
}

.instructorIMG {
  height: 60%;
}

.instructorIMG img {
  width: 100%;
  height: 100%;
  border-bottom: solid black 2px;
}

.categorieTitle {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.categorieSubtitle {
  font-size: 13px;
  font-family: Hind-Regular, AdobeInvisFont, MyriadPro-Regular;
  margin-bottom: 0.5rem;
}

.categorieInfo {
  display: flex;
  font-size: 13px;
  font-family: Roboto-Medium, AdobeInvisFont, MyriadPro-Regular;
}

.plusMenu {
  position: relative;
  left: 70%;
  bottom: 5%;
  width: 2rem;
  height: 2rem;
  display: block;
  background-color: #ea5822;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusMenu path{
  fill: white;
}

.plusPlusMenu {
  margin: auto;
  margin: 20%;
  text-align: center;
  vertical-align: middle;
}

.plusPlusMenu img {
  width: 100%;
  height: 100%;
}

.instructorTitle {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  font-weight: bold;
}

.instructorSubtitle {
  font-family: Hind-Medium, AdobeInvisFont, MyriadPro-Regular;
  font-size: 15px;
}

.instructorInfo {
  display: flex;
}

.instructorInfo img {
  margin-right: 0.5rem;
}

.openPlusMenu {
  box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 10%);
  position: absolute;
  bottom: 100%;
  background-color: white;
}
