.bg4 {
  width: 100vw;
  height: auto;
  max-width: 1920px;
  max-height: 1200px;
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.bg4b {
  width: 100vw;
  height: auto;
  max-width: 1920px;
  max-height: 1200px;
  background-color: #eaf4f7;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.instructors {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.instructor {
  width: 271px;
  position: relative;
}
.categorieIMG2 {
  background-color: #b7b7b7;
  height: 251px;
}
.categorieIMG2 img {
  height: 251px;
  width: 100%;
}
.instructorInfoBox {
  height: 178px;
  box-sizing: border-box;
  padding: 35px;
  background-color: white;
}

.instructorInfoBox hr {
  background: #e2e2e2;
  border: none;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.instructorIMG {
  height: 60%;
}

.instructorIMG img {
  width: 100%;
  height: 100%;
  border-bottom: solid black 2px;
}

.categorieTitle {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.categorieSubtitle {
  font-size: 13px;
  font-family: Hind-Regular, AdobeInvisFont, MyriadPro-Regular;
  margin-bottom: 0.5rem;
}

.categorieInfo {
  display: flex;
  font-size: 13px;
  font-family: Roboto-Medium, AdobeInvisFont, MyriadPro-Regular;
}

.plusMenu {
  position: absolute;
  width: 46px;
  left: 190px;
  top: 225px;
  height: 46px;
  display: block;
  background-color: #ea5822;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plusMenu path {
  fill: white;
}

.plusPlusMenu {
  margin: auto;
  margin: 20%;
  text-align: center;
  vertical-align: middle;
}

.plusPlusMenu img {
  width: 100%;
  height: 100%;
}

.instructorTitle {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  font-weight: 600;
}

.instructorSubtitle {
  font-family: Hind-Medium, AdobeInvisFont, MyriadPro-Regular;
  font-size: 14px;
  line-height: 28px;
  color: #708389;
}

.instructorInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 28px;
  color: #708389;
}

.instructorInfo svg {
  margin-right: 0.5rem;
}
.instructorInfo path {
  fill: #ea5822;
}

.openPlusMenu {
  padding: 6.5px;
  position: absolute;
  bottom: 100%;
  background-color: white;
}
.openPlusMenuYellow {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #f7bb00;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openPlusMenuRed {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ff0000;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openPlusMenuBlue {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #24a1ff;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
