.UnderHeader {
  width: 100%;
  height: 536px;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../../images/img9.jpg');
  display: flex;
  align-items: center;
}

.UnderHeaderTitle {
  text-align: center;
  font-size: 84px;
  font-weight: 800;
  color: white;
}

.UnderHeaderSubtitle {
  color: white;
  text-align: center;
  font-size: 17px;
}
.UnderHeaderMain {
  width: 100%;
  z-index: 2;
}
