.welcomeSection {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.becomeIns {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.becomeInsLeftPaperBehind {
  width: 75%;
  height: 75%;
  background: #b7b7b7;
  z-index: 1;
}
.becomeInsLeftPaperBehind img {
  width: 75%;
  height: 75%;
}
.becomeInsLeftPaperFront {
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #dedede;
}
.becomeInsLeftPaperFront img {
  width: 50%;
  height: 50%;
  position: absolute;
}
.circleText b {
  font-size: 25px;
}
.circleText r {
  font-size: 12px;
}
.circleBase {
  border-radius: 50%;
  text-align: center;
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
}
.circle1 {
  width: 100px;
  height: 100px;
  background: #ea5822;
  margin-top: -20%;
  margin-left: -15%;
  z-index: 5;
  position: absolute;
}
.circle2 {
  width: 100px;
  height: 100px;
  background: #ffffff;
  margin-top: -18%;
  margin-left: -13%;
  z-index: 3;
  position: absolute;
}
.welcomeSectionInfo {
  color: #ea5822;
}
.welcomeSectionTitle {
  font-size: 40px;
  letter-spacing: -1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #11212d;
  font-weight: 700;
  font-family: "Roboto";
}
.welcomeSectionText {
  border-left: 2px solid #ea5822;
  padding-left: 1.5rem;
  color: #708389;
  line-height: 1.5rem;
}
.becomeInsLeft {
  width: 48%;
  position: relative;
}
.becomeInsRight {
  width: 44%;
}
.welcomeSectionSubInfo {
  margin-left: 2rem;
}
.welcomeSectionSub {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 2px solid #e4e4e4;
}
.welcomeSectionSub2 {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.welcomeSectionSubIcon {
  height: 50px;
  min-width: 50px;
  background: blue;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  place-content: center;
}
.welcomeSectionSubIcon path {
  fill: white;
}
.welcomeSectionSubTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 1rem;
}
.welcomeSectionSubText {
  color: #708389;
  font-size: 15px;
  line-height: 25px;
}

.welcomeSectionButton {
  background-color: #ea5822;
  height: 63px;
  width: 226px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
}

.welcomeSectionButton svg {
  margin-left: 2rem;
}

.welcomeSectionButton path {
  fill: white;
}

.welcomeSection .infoboxes {
  display: flex;
  width: 80%;
  margin: auto;
  height: 10rem;
  transform: translateY(10rem);
}
.instituteSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eaf4f7;
}
.welcomeSection .boxcom {
  border-top: 4px solid #ea5822;
}
.welcomeSection .boxcomMain {
  color: #ea5822;
  text-align: left;
  font-size: 30px;
}
.welcomeSection .boxcomSub {
  font-size: 15px;
  color: #6e838a;
}

.welcomeSection .infoboxes {
  width: 60%;
}
.instituteSectionLeftInfo {
  color: #ea5822;
}

.instituteSectionBlock {
  width: 60%;
  margin: auto;
  display: flex;
  margin-top: 5rem;
}
.instituteSectionLeftTitle {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 1rem;
}
.instituteSectionLeftText {
  color: #708389;
  font-size: 15px;
  line-height: 1.5rem;
  width: 75%;
}
.instituteSectionLeft {
  width: 40%;
}
.instituteSectionLeftGraphs {
  display: flex;
  justify-content: space-between;
}
.instituteSectionRight {
  width: 671px;
  height: 381px;
  background-color: #707f83;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.instituteSectionRight img {
  position: absolute;
  width: 671px;
  height: 381px;
}
.instituteSectionRightPlay {
  height: 91px;
  width: 91px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-clip: content-box;
  border: 2px #a2acae solid;
  z-index: 2;
}
.instituteSectionRightPlay path {
  fill: #ea5822;
}
.leftGraphCircle1 {
  position: relative;
  margin: 2rem;
  margin-left: 0;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: white;
  border: 8px solid #ea5822;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

.leftGraphCircle1 p {
  font-size: 15px;
  font-weight: 400;
  margin-block-end: 0em;
}

.leftGraphCircle2 {
  position: relative;
  margin: 2rem;
  margin-left: 0;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: white;
  border: 8px solid #3662ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}
.arc {
  overflow: hidden;
  position: absolute;
  top: -8px;
  right: 50%;
  bottom: 50%;
  left: -8px;
  transform-origin: 100% 100%;
  transform: rotate(90deg) skewX(30deg);
}

.arc:before {
  box-sizing: border-box;
  display: block;
  border: solid 9px white;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transform: skewX(-30deg);
  content: "";
}
.arc2 {
  overflow: hidden;
  position: absolute;
  top: -8px;
  right: 50%;
  bottom: 50%;
  left: -8px;
  transform-origin: 100% 100%;
  transform: rotate(142deg) skewX(30deg);
}

.arc2:before {
  box-sizing: border-box;
  display: block;
  border: solid 9px white;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transform: skewX(-30deg);
  content: "";
}
.leftGraphText {
  font-size: 25px;
  font-weight: 600;
}

.aboutSection {
  margin-bottom: 5rem;
}

.aboutSection .bg4 {
  background-color: white;
}

.aboutSection .instructor {
  border: 1px solid #e2e2e2;
}
