.bg2 {
  width: 100vw;
  height: 1036px;
  max-width: 1920px;
  max-height: 1036px;
  background-color: #062a35;
}
.coursesTitle {
  text-align: center;
  font-family: Hind-SemiBold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 15px;
  color: #ea5822;
}
.coursesTitle2 {
  text-align: center;
  font-family: Hind-SemiBold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 15px;
  color: #ea5822;
  padding-top: 8rem;
}

.coursesSubTitle {
  text-align: center;
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.cardImgPrice {
  background-color: #ea5822;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: white;
}
.cardImgPrice2 {
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: #ea5822;
}
.cardLanguage {
  background-color: #4582FF;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
}
.cardLanguage2 {
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: #ea5822;
  text-transform: uppercase;
}
.cards {
  display: flex;
  margin: 3rem auto;
  width: 60%;
  justify-content: space-around;
}
.card {
  width: 371px;
  height: 453px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
}

.card__face--front {
  height: 100%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.cardImg {
  height: 251px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg, white, black);
}

.cardImgcircle {
  display: flex;
  height: 46px;
  width: 46px;
  margin: 1rem;
  margin-left: 2rem;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}
.cardImgcircle2 {
  display: flex;
  height: 46px;
  width: 46px;
  margin: 1rem;
  margin-left: 0;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}
.cardImgName {
  display: flex;
}
.cardImgname {
  font-weight: 800;
  font-size: 22px;
  margin: auto;
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: white;
}

.price {
  margin: 1rem;
}

.cardInfo {
  background-color: white;
  height: 239px;
}

.cardHeader {
  display: flex;
  padding: 2rem;
  padding-bottom: 0;
  padding-top: 5%;
  margin-bottom: 5%;
}

.rating {
  margin: auto;
  margin-left: 1rem;
}
.rating path {
  fill: #ea5822
}
.rating2 {
  margin: auto;
  margin-left: 1rem;
}
.rating2 path {
  fill: white;
}

.courseTitle {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-weight: bold;
  font-size: 22px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cardInfo hr {
  background: #e2e2e2;
  border: none;
  height: 1px;
  width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.courseIcons {
  display: flex;
  padding: 1rem 2rem;
}

.courseIcon {
  display: flex;
  width: 30%;
}

.courseIcons path{
  fill: #ea5822;
}

.courseIcons2 path{
  fill: white;
}

.imgtext2 {
  margin-left: 10px;
  font-family: Roboto-Medium, AdobeInvisFont, MyriadPro-Regular;
  color: white;
}

.courseIcon .imgtext {
  margin-left: 10px;
  font-family: Roboto-Medium, AdobeInvisFont, MyriadPro-Regular;
  color: #708389;
}

.card__face--back {
  background-color: #ea5822;
  transform: rotateY(180deg);
  height: 100%;
}

.cardInfo2 {
  background-color: #ea5822;
  height: 489px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cardHeader2 {
  display: flex;
  padding-top: 2.5rem;
  margin-bottom: 1rem;
}

.courseTitle2 {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.priceBox2 {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.price2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.curseText {
  font-family: Hind-Regular, AdobeInvisFont, MyriadPro-Regular;
  color: white;
  font-size: 18px;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.getEnrolled {
  width: 100%;
}

.getEnrolledButton {
  border: none;
  width: 60%;
  height: 3rem;
  background-color: white;
}

.getEnrolled a {
  text-decoration: none;
  color: #ea5822;
}

.allCourses a {
  text-decoration: none;
  color: #417b8d;
}

.getEnrolledData {
  display: flex;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.getEnrolledData svg{
  margin-left: 1rem;
}

.getEnrolledData path{
  fill: #ea5822;
}

.getEnrolledText {
  color:#ea5822;
  font-weight: bold;
}
.getEnrolled img {
  color: #ea5822;
  margin: auto;
}

.courseIcons2 {
  margin-top: 3rem;
  display: flex;
}

.allCourses {
  padding-top: 5rem;
}

.allCoursesButton {
  height: 67px;
  width: 281px;
  margin: auto;
  background: transparent;
  border: solid #113742 2px;
}

.allCoursesButtonData {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
    align-items: center;
}

.allCoursesButtonText {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: #417b8d;
  text-transform: uppercase;
}

.allCoursesButtonData svg {
  margin-left: 1rem;
}


.allCoursesButtonData path {
  fill: #417B8D;
}
