.ContactMain {
  background-color: #eaf4f7;
  width: 100%;
  padding-bottom: 6rem;
}
.ContactBoxes {
  width: 60%;
  margin: auto;
  padding-top: 6rem;
  display: flex;
  padding-bottom: 6rem;
}

.ContactBoxLeft {
  width: 30%;
  margin-right: 10%;
}

.ContactBoxRight {
  width: 700px;
  height: 566px;
  background-color: #555555;
}
.ContactBoxLeftCircle {
  width: 51px;
  height: 51px;
  background-color: #ea5822;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactBoxLeftCircle path {
  fill: white;
}
.ContactBoxLeftInfo {
  color: #ea5822;
  font-size: 14px;
}
.ContactBoxLeftTitle {
  font-size: 30px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ContactBoxLeftText {
  font-size: 14px;
  line-height: 28px;
  color: #708389;
}
.ContactBoxLeftCircleInfo {
  margin-left: 1rem;
}
.ContactBoxLeftCircleInfoTitle {
  font-size: 18px;
  font-weight: 700;
}
.ContactBoxLeftContact {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 2rem;
}
.ContactBoxLeftCircleInfoText {
  font-size: 15px;
  font-weight: 600;
}
.ContactBoxLeft hr {
  border-bottom: 0 solid #dedede;
}
.ContactBoxLeftMediaCircle {
  width: 46px;
  height: 46px;
  background-color: #cae3ea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.ContactBoxLeftMediaCircle path{
    fill: white;
  }
.ContactBoxLeftMediaCircle:hover {
  background-color: #3662ff;
}
.ContactBoxLeftMedia {
    display: flex;
    margin-top: 2rem;
}
.ContactMessage {
    width: 60%;
    margin: auto;
}
.ContactMessageForm {
    display: flex;
    justify-content: space-between;
}
.ContactMessageInput {
    width: 25%;
    height: 66px;
    background-color: white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.ContactMessageInput path {
    fill: #ea5822;
}
.ContactMessageInfo {
    color: #ea5822;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
}
.ContactMessageTitle {
    font-size: 35px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
}
.ContactMessageInputMessage {
    background-color: white;
    padding-left: 2rem;
    padding-top: 2rem;
    height: 181px;
    font-weight: 600;
}
.ContactMessageInputButton {
    width: 60%;
    height: 66px;
    background-color: #ea5822;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 1.5rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.ContactMessageInputButton svg{
    margin-left: 1rem;
}