.navbar2 {
  width: 100%;
  height: auto;
  background-color: #eaf4f7;
  display: flex;
  justify-content: space-between;
}
.nawLeftSite2 {
  display: flex;
  height: 100px;
}
.logo2 {
  margin: auto;
  margin-left: 3rem;
  font-size: 45px;
  display: flex;
  letter-spacing: -1px;
  line-height: 61px;
  color: #062a35;
  font-family: "Roboto";
}
.links2 {
  margin: 0;
  margin-left: 2rem;
  align-items: center;
  display: flex;
}
.dropdown2 {
  margin-right: 1rem;
}
.dropdown2 a {
  text-decoration: none;
  color: black;
  line-height: 1rem;
}
.nawRightSite {
  margin: 0;
  align-items: center;
  margin-right: 5%;
}
.nawRightSiteFB {
  width: 51px;
  height: 51px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nawRightSiteFB:hover {
  background-color: #ea5822;
  cursor: pointer;
}
.nawRightSiteFB path {
  fill: #ea5822;
}
.nawRightSiteFB:hover path {
  fill: white;
}
.nawRightSiteYOU {
  width: 51px;
  height: 51px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nawRightSiteYOU:hover {
  background-color: #ea5822;
  cursor: pointer;
}
.nawRightSiteYOU path {
  fill: #ea5822;
}
.nawRightSiteYOU:hover path {
  fill: white;
}
.nawRightSiteSIGN {
  width: 121px;
  height: 51px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.nawRightSiteSIGN:hover {
  background-color: #ea5822;
  cursor: pointer;
  color: white;
}
.nawRightSiteSIGN svg {
  margin-right: 0.5rem;
}
.nawRightSiteSIGN path {
  fill: #ea5822;
}
.nawRightSiteSIGN:hover path {
  fill: white;
}


.nawRightSiteMenu {
  background-color: transparent;
  cursor: pointer;
}
.nawRightSiteMenu svg {
  margin-left: 2rem;
}
.nawRightSiteMenu path {
  fill: #ea5822;
}
.hideFlex2 {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .navbar2 {
    display: block;
  }

  .nawRightSiteSIGN2 {
    width: 121px;
    height: 51px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  .nawRightSiteSIGN2:hover {
    background-color: #ea5822;
    cursor: pointer;
    color: white;
  }
  .nawRightSiteSIGN2 svg {
    margin-right: 0.5rem;
  }
  .nawRightSiteSIGN2 path {
    fill: #ea5822;
  }
  .nawRightSiteSIGN2:hover path {
    fill: white;
  }
  .nawLeftSite {
    display: block;
    width: 70%;
    margin-left: 0;
  }
  .links2 {
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  .nawRightSiteFB {
    display: none;
  }
  .nawRightSiteYOU {
    display: none;
  }
  .nawRightSiteMenu {
    display: none;
  }
  .nawRightSiteMenuHide {
    display: block;
  }
  .nawRightSiteSIGN {
    display: none;
  }
  .hideFlex2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 964px) {
  .nawLeftSite {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .nawRightSiteSIGN2 {
    display: none;
  }
  .links2 {
    display: inline-grid;
  }
  .dropbtn svg {
    display: none;
  }
}