.navbar2 {
  width: 100%;
  height: 100px;
  background-color: #eaf4f7;
  display: flex;
  justify-content: space-between;
}
.nawLeftSite2 {
  display: flex;
}
.logo2 {
  margin: auto;
  margin-left: 3rem;
  font-size: 45px;
  display: flex;
  letter-spacing: -1px;
  line-height: 61px;
  color: #062a35;
  font-family: "Roboto";
}
.links {
  margin: 0;
  margin-left: 2rem;
  align-items: center;
  display: flex;
}
.dropdown2 {
  margin-right: 1rem;
}
.dropdown2 a {
  text-decoration: none;
  color: black;
  line-height: 1rem;
}
.nawRightSite {
  margin: 0;
  align-items: center;
  margin-right: 5%;
}
.nawRightSiteFB {
  width: 51px;
  height: 51px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nawRightSiteFB:hover {
  background-color: #ea5822;
  cursor: pointer;
}
.nawRightSiteFB path {
  fill: #ea5822;
}
.nawRightSiteFB:hover path {
  fill: white;
}
.nawRightSiteYOU {
  width: 51px;
  height: 51px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nawRightSiteYOU:hover {
  background-color: #ea5822;
  cursor: pointer;
}
.nawRightSiteYOU path {
  fill: #ea5822;
}
.nawRightSiteYOU:hover path {
  fill: white;
}
.nawRightSiteSIGN {
  width: 121px;
  height: 51px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.nawRightSiteSIGN:hover {
  background-color: #ea5822;
  cursor: pointer;
  color: white;
}
.nawRightSiteSIGN svg {
  margin-right: 0.5rem;
}
.nawRightSiteSIGN path {
  fill: #ea5822;
}
.nawRightSiteSIGN:hover path {
  fill: white;
}
.nawRightSiteMenu {
  background-color: transparent;
  cursor: pointer;
}
.nawRightSiteMenu svg {
  margin-left: 2rem;
}
.nawRightSiteMenu path {
  fill: #ea5822;
}
