.bg7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #eaf4f7;
}
.becomeIns {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.becomeInsLeft {
  width: 623px;
  height: 562px;
  position: relative;
}
.becomeInsRight {
  width: 535px;
}
.becomeInsLeftPaperBehind {
  width: 501px;
  height: 500px;
  background: #b7b7b7;
  z-index: 1;
}
.becomeInsLeftPaperFront {
  width: 331px;
  height: 351px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #636363;
}
.becomeInsRightTag {
  margin-top: 2rem;
  font-size: 14px;
  color: #ea5822;
  font-weight: 700;
}
.becomeInsRightTitle {
  margin-top: 1rem;
  font-size: 48px;
  font-weight: 600;

}
.becomeInsRightText {
  margin-top: 2rem;
  color: #708389;
  font-size: 14px;
  line-height: 28px;
}
.becomeInsRightBoxs {
  width: 100%;
  margin-top: 5%;
  display: flex;
}
.becomeInsRightBox {
  width: 45%;
}
.becomeInsRightBox path {
  fill: #ea5822;
}
.becomeInsRightBoxRight {
  width: 45%;
  border-right: #c3d9df solid 2px;
  margin-right: 10%;
}
.becomeInsRightBoxRight path {
  fill: #ea5822;
}
.becomeInsRightBoxTitle {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 22px;
}
.becomeInsRightBoxText {
  margin-top: 0.5rem;
  color: #708389;
  font-size: 14px;
  line-height: 28px;
  width: 75%;
}
.becomeInsRightButtons {
  margin-top: 2rem;
  display: flex;
}
.becomeInsRightButtonJoin {
  width: 226px;
  height: 63px;
  margin-right: 1rem;
  background-color: #ea5822;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.becomeInsRightButtonJoin svg {
  margin-left: 1rem;
}
.becomeInsRightButtonBecome {
  width: 207px;
  height: 63px;
  background-color: white;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
