.bg7 {
  width: 100vw;
  height: 520px;
  max-width: 1920px;
  max-height: 520px;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #eaf4f7;
}
.becomeIns {
  width: 70%;
  height: 100%;
  margin: 0 15% 0 15%;
  display: flex;
  justify-content: space-between;
}
.becomeInsLeft {
  width: 48%;
  position: relative;
}
.becomeInsRight {
  width: 48%;
}
.becomeInsLeftPaperBehind {
  width: 75%;
  height: 75%;
  background: #b7b7b7;
  z-index: 1;
}
.becomeInsLeftPaperFront {
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #636363;
}
.becomeInsRightTag {
  width: 100%;
  margin-top: 10%;
  font-size: 12px;
  color: #ea5822;
  font-weight: 600;
  font-family: Hind-SemiBold, AdobeInvisFont, MyriadPro-Regular;
}
.becomeInsRightTitle {
  width: 100%;
  height: 10%;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
}
.becomeInsRightText {
  width: 100%;
  height: 15%;
  color: #708389;
  line-height: 25px;
  font-family: Hind-Regular, AdobeInvisFont, MyriadPro-Regular;
}
.becomeInsRightBoxs {
  width: 100%;
  margin-top: 5%;
  display: flex;
}
.becomeInsRightBox {
  width: 45%;
}
.becomeInsRightBox path {
  fill: #ea5822;
}
.becomeInsRightBoxRight {
  width: 45%;
  border-right: #c3d9df solid 2px;
  margin-right: 10%;
}
.becomeInsRightBoxRight path {
  fill: #ea5822;
}
.becomeInsRightBoxRight svg {
  width: 50px !important;
  height: 50px;
}
.becomeInsRightBox svg {
  width: 50px !important;
  height: 50px;
}
.becomeInsRightBoxTitle {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: #062a35;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
}
.becomeInsRightBoxText {
  color: #708389;
  font-size: 14px;
  width: 75%;
}
.becomeInsRightButtons {
  width: 100%;
  height: 10%;
  margin-top: 10%;
  display: flex;
}
.becomeInsRightButtonJoin {
  width: 40%;
  height: 100%;
  margin-right: 3%;
  background-color: #ea5822;
  color: white;
  text-transform: uppercase;
}
.becomeInsRightButtonJoin svg {
  margin-left: 1rem;
}
.becomeInsRightButtonBecome {
  width: 40%;
  height: 100%;
  background-color: white;
  margin: auto;
}
.becomeInsButtonText {
  margin-top: 8%;
  text-align: center;
}
