.bg8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: black;
}
.news {
  padding-top: 3rem;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.new {
  width: 371px;
  margin-bottom: 1rem;
}
.newIMG {
  height: 351px;
  background-color: #b7b7b7;
}
.newIMG img {
  height: 351px;
  width: 100%;
}
.newMain {
  height: 266px;
  border: #e6e6e6 solid 2px;
  border-top: none;
  position: relative;
  background-color: white;
  box-sizing: border-box;
  padding: 40px;
}
.newINFO {
  display: flex;
  font-size: 14px;
  line-height: 28px;
  color: #708389;
}
.newINFOText {
  margin-right: 2rem;
  text-transform: uppercase;
}
.newINFO svg {
  margin-right: 0.5rem;
}
.newINFO path {
  fill: #ea5822;
}
.newTitle {
  font-weight: 800;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.newName {
  display: flex;
  line-height: 36px;
  color: #ea5822;
  font-weight: 600;
  font-size: 18px;
}
.newName svg {
  margin-right: 0.5rem;
}
.newButton {
  width: 61px;
  height: 61px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: #062a35;
  text-align: center;
  cursor: pointer;
}
.newButton:hover {
  background-color: #ea5822;
}
.newButton svg {
  fill: white;
  margin-top: 35%;
}
.newButton path {
  fill: white;
}
