.bg8 {
  width: 100vw;
  height: 520px;
  max-width: 1920px;
  max-height: 520px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
}

.news {
  margin-top: 4%;
  height: 80%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
}
.new {
  width: 30%;
}
.newIMG {
  height: 55%;
  background-color: #B7B7B7;
}
.newMain {
  height: 50%;
  border: #E6E6E6 solid 2px;
  border-top: none;
  position: relative;
}
.newBlock {
  height: 50%;
  margin: 10%;
  padding-top: 10%;
  margin-top: 0;
}
.newINFO {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.newINFOText {

}
.newINFO svg{
  margin-right: 0.5rem;
}
.newINFO path{
    fill: #ea5822;
}
.newTitle {
  font-weight: 600;
  font-family: Roboto-Bold,AdobeInvisFont,MyriadPro-Regular;
  font-size: 18px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.newName {
  display: flex;
}
.newNameText {
  line-height: 36px;
  margin-left: 0.5rem;
  color: #ea5822;
  font-family: Roboto-Medium,AdobeInvisFont,MyriadPro-Regular;
  font-weight: 600;
}
.newButton {
  width: 61px;
  height: 61px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: #062A35;
  text-align: center;
}
.newButton svg{
  fill: white;
  margin-top: 35%;
}
.newButton path{
  fill: white;
}
.newButton2 {
  width: 61px;
  height: 61px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: #ea5822;
  text-align: center;
}
.newButton2 svg{
  fill: white;
  margin-top: 35%;
}
.newButton2 path{
  fill: white;
}