.footer {
  width: 100vw;
  height: 840px;
  max-width: 1920px;
  max-height: 840px;
  padding-top: 5%;
}
.footerUpper {
  width: 100%;
  height: 251px;
  background-color: #ea5822;
}
.footerUpperBox {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.footerLower {
  background-color: #062a35;
  width: 100%;
  height: 591px;
}
.footerLowerIMG {
  position: absolute;
  width: 90%;
  max-width: 1920px;
  margin-left: 5%;
  height: 591px;
  background-image: url("../../images/bgImg.png");
  opacity: 0.1;
}
.logoFooter {
  display: flex;
  padding-top: 5rem;
  line-height: 20px;
  font-size: 20px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.randomButton {
  width: 56px;
  height: 56px;
  position: absolute;
  background-color: #4582ff;
  right: 0;
}

.logoFooter img {
  color: #ea5822;
}
.footerLowerSection1 {
  width: 70%;
  margin-left: 15%;
}
.logoFootertext {
  line-height: 45px;
  color: white;
  font-size: 40px;
  margin-left: 1rem;
  margin-right: 20%;
}
.logoFooter svg {
  margin-right: 1rem;
}

.instagramlogo path {
  fill: #de0e88;
}
.youtubeLogo path {
  fill: #ff0000;
}
.twitterLogo path {
  fill: #1da1f2;
}
.facebookLogo path {
  fill: #1771e6;
}
.facebookLogo {
  padding-bottom: 10%;
  border-bottom: 2px solid #ea5822;
}

.mediaLinks {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.footersLinkBox {
  margin-top: 40px;
  height: 180px;
  margin-bottom: 40px;
  display: flex;
}
.footersLinkBoxLeft {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
.footersLinkBoxRight {
  width: 50%;
  position: relative;
}
.footersCollumTitle {
  color: white;
  font-weight: 500;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 1rem;
}
.footersCollumText {
  color: #a3b5c3;
  line-height: 22px;
  font-size: 12px;
  font-weight: 300;
}
.footersLinkBoxRightTitle {
  color: white;
  font-weight: 500;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 1rem;
}
.footersLinkBoxRightText {
  color: #a3b5c3;
  line-height: 22px;
  font-size: 12px;
  font-weight: 300;
  width: 70%;
}
.randomButton {
  text-align: center;
}
.randomButton svg {
  margin-top: 30%;
}
.randomButton path {
  color: white;
}
.footersLinkBoxRightSearchBox {
    width: 50%;
    background-color: #0C3542;
    height: 56px;
    margin-top: 1.5rem;
}
.footersLinkBoxRightSearch {
    display: flex;
}
.footersLinkBoxRightSearch input {
    border: none;
}
.footersLinkBoxRightSearchButton {
    margin-top: 1.5rem;
    width: 81px;
    height: 56px;
    background-color: #ea5822;
    text-align: center;
}
.footersLinkBoxRightSearchButton svg{
    margin-top: 25%;
}
.footersLinkBoxRightSearchButton path{
    fill: white;
}
.footerLowerSection2 {
    width: 70%;
    margin: auto;
    position: relative;
    height: 61px;
    background: #0C3542;
}
.footerLowerSection2Text {
    text-align: center;
    color: #94A7B5;
    padding-top: 2%;
}