.courseCategories {
  width: 60%;
  margin: auto;
  padding-bottom: 3rem;
}

.categoriesTitle {
  text-align: center;
  font-family: Hind-SemiBold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 15px;
  color: #ea5822;
}

.categoriesSubTitle {
  text-align: center;
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rowCategorie {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
}

.categorie {
  width: 271px;
  margin-top: 2rem;
}

.categorieIMG {
  height: 201px;
  width: 100%;
  background-color: #717171;
}

.categorieInfoBox {
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #D7D7D7;
  border-top: 0;
}

.categorieTitle {
  font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.categorieSubtitle {
  font-size: 14px;
  line-height: 28px;
  color: #708389;
  font-family: Hind-Regular, AdobeInvisFont, MyriadPro-Regular;
  margin-bottom: 0.5rem;
}

.categorieInfo {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  color: #708389;
  font-family: Roboto-Medium, AdobeInvisFont, MyriadPro-Regular;
}

.categorieInfo svg {
  margin-right: 0.5rem;
}
.categorieInfo path {
  fill: #ea5822;
}
.categorieInfo div {
  margin-right: 1rem;
}
.categorie a{
  text-decoration: none;
  color: black;
}